{%- extends 'lab/index.html.j2' -%}

{# This overrides the default behavior of directly starting the kernel and executing the notebook #}
{% block notebook_execute %}
{% endblock notebook_execute %}

{%- block html_head_css -%}
{{ super() }}

{# Load retrolab CSS #}
<link rel="stylesheet" href="https://unpkg.com/@retrolab/application@latest/style/index.css">
<link rel="stylesheet" href="https://unpkg.com/@retrolab/notebook-extension@latest/style/index.css">

<style>
body[data-retro='notebooks'] .jp-Notebook > div:first-of-type {
    padding-top: var(--jp-notebook-padding-offset);
    margin-top: var(--jp-notebook-toolbar-margin-bottom);
}
</style>
{%- endblock html_head_css -%}

{%- block body_header -%}
{# This is a shameless copy of super, as we can't overwrite it properly can we? #}
{% if resources.theme == 'dark' %}
<body data-retro="notebooks" data-jp-theme-light="false" data-jp-theme-name="JupyterLab Dark">
{% else %}
<body data-retro="notebooks" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
{% endif %}

{{ spinner.html() }}
<script>
var voila_process = function(cell_index, cell_count) {
  var el = document.getElementById("loading_text")
  el.innerHTML = `Executing ${cell_index} of ${cell_count}`
}
var voila_heartbeat = function() {
  console.log('Ok, voila is still executing...')
}
</script>

<div class="jp-Notebook" id="rendered_cells" style="display: none">
{%- endblock body_header -%}

{%- block body_footer -%}
{{ super() }}

<script type="text/javascript">
// Fix the cell output display value
var el = document.getElementById("rendered_cells");
el.style.display = '';
</script>
{%- endblock body_footer -%}
